/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP-icons';
	src:
		url('https://michadelic.github.io/CustomFontsSAC/sap-icons.woff2') format('woff2'),
		url('https://michadelic.github.io/CustomFontsSAC/sap-icons.woff') format('woff'),
		url('https://michadelic.github.io/CustomFontsSAC/sap-icons.ttf') format('truetype'),
		local('SAP-icons');
	font-weight: normal;
	font-style: normal;
}