/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://michadelic.github.io/CustomFontsSAC/SAP-icons.woff2') format('woff2'),
		url('https://michadelic.github.io/CustomFontsSAC/SAP-icons.woff') format('woff'),
		url('https://michadelic.github.io/CustomFontsSAC/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}